🚨 Alerta Temprana - Ingresos Emergencias Ecuador.json
{
  "name": "🚨 Alerta Temprana - Ingresos Emergencias Ecuador",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingreso-emergencia",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3a95e509-c4f3-4d3c-86a0-acb1212a1e42",
      "name": "Webhook - Ingreso Emergencia",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1120,
        896
      ],
      "webhookId": "015a21cd-66a8-4ebd-8b9f-31ff5c876db5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM polizas WHERE cedula = $1 LIMIT 1",
        "options": {
          "queryReplacement": "=={{ $json.cedula }}"
        }
      },
      "id": "1ff11675-6acb-4a27-8408-9672b74deb5a",
      "name": "Buscar Póliza PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -720,
        896
      ],
      "credentials": {
        "postgres": {
          "id": "ecHJ9ry1WfkdqBfz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $items().length }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "1afac5f9-c793-452f-af7a-7012b955bce9",
      "name": "IF - ¿Tiene Póliza?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -448,
        896
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst polizaRaw = items[0]?.json || null;\nlet poliza = null;\n\nif (polizaRaw) {\n  try {\n    poliza = polizaRaw.data ? JSON.parse(polizaRaw.data) : polizaRaw;\n  } catch(e) {\n    poliza = polizaRaw;\n  }\n}\n\nreturn [{ json: { ...polizaRaw, poliza, tiene_poliza: poliza !== null } }];"
      },
      "id": "0ed67f67-8070-4c15-af72-8a48bc1df8cb",
      "name": "Parsear Póliza - Con Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        784
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { poliza: null, tiene_poliza: false } }];"
      },
      "id": "a9dcf0d9-b513-48d8-acd8-12a163750324",
      "name": "Parsear Póliza - Sin Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        1024
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nlet analisis = {};\n\ntry {\n  const rawContent = item.choices?.[0]?.message?.content || '{}';\n  const cleaned = rawContent.replace(/```json|```/g, '').trim();\n  analisis = JSON.parse(cleaned);\n} catch(e) {\n  analisis = {\n    cubierto: false,\n    cobertura_estimada: 0,\n    requiere_autorizacion: true,\n    nivel_urgencia: 'ALTO',\n    observaciones: 'Error al analizar respuesta IA: ' + e.message,\n    acciones_inmediatas: ['Revisar manualmente']\n  };\n}\n\nconst timestamp = new Date().toISOString();\nconst id_caso = 'CASO-' + Date.now();\n\nreturn [{ json: { ...item, analisis, timestamp, id_caso } }];"
      },
      "id": "377b1e8a-f2ff-4db6-a5c4-588a437c71e9",
      "name": "Extraer JSON IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        896
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "cedula",
              "value": "={{ $json.body.cedula }}"
            },
            {
              "name": "motivo_consulta",
              "value": "={{ $json.body.motivo_consulta }}"
            },
            {
              "name": "triage_nivel",
              "value": "={{ $json.body.triage_nivel }}"
            },
            {
              "name": "hospital_nombre",
              "value": "={{ $json.body.hospital_nombre }}"
            },
            {
              "name": "hospital_codigo",
              "value": "={{ $json.body.hospital_codigo || '' }}"
            },
            {
              "name": "numero_poliza",
              "value": "={{ $json.body.numero_poliza || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cbfb1e2e-bf05-4305-9dfe-bdeb167480e6",
      "name": "Extraer Datos1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -896,
        896
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Eres un analista experto en seguros médicos y emergencias hospitalarias en Ecuador.\n\nAnaliza esta póliza y responde en JSON:\n\n{{ JSON.stringify($('Extraer Datos').first().json) }\n\nResponde únicamente JSON válido.\nNo escribas explicaciones.\nNo uses markdown.\nNo uses texto antes o después del JSON.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -32,
        896
      ],
      "id": "e81677a7-0e89-4a47-a20f-ea42267c07e8",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -32,
        1104
      ],
      "id": "414e2735-e21e-4a81-9e17-76751d80d2db",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "70CTEGx81MksqbgN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1506320643837132800/5k6FECtDWTND_2xMQvsoUu2BQPoQaPtSs-a9tCX8q8WwbmxwFcDN4xAkhzsVjBasK_6u",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=NUEVA EMERGENCIA\nPaciente: {{ $('Webhook - Ingreso Emergencia').item.json.body.cedula }}\nPoliza: {{ $json.output.estado_poliza }}\nPrioridad: {{ $json.output.prioridad }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        496,
        896
      ],
      "id": "2ffe9f95-f4bc-4cf2-b17a-fdf75bcc2975",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"estado_poliza\": \"ACTIVA\",\n  \"prioridad\": \"ALTA\",\n  \"riesgo\": \"MEDIO\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        128,
        1120
      ],
      "id": "d63267a6-8991-4d5f-8bcb-90383da7e84b",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Ingreso Emergencia": {
      "main": [
        [
          {
            "node": "Extraer Datos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Póliza PostgreSQL": {
      "main": [
        [
          {
            "node": "IF - ¿Tiene Póliza?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - ¿Tiene Póliza?": {
      "main": [
        [
          {
            "node": "Parsear Póliza - Con Resultado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parsear Póliza - Sin Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Póliza - Con Resultado": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Póliza - Sin Resultado": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer JSON IA": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos1": {
      "main": [
        [
          {
            "node": "Buscar Póliza PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Extraer JSON IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "b0f681be-c933-4748-8138-411c85e29050",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca0c663fe5b2ee70024b2caf7d5a4fa2da9c072e5249b7af0c5a32fa6d8f010a"
  },
  "id": "n03tXqRyXsRm9iTi",
  "tags": []
}